@charset "UTF-8";

/* 공통 리셋 (여백 초기화) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 & 배경 */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ccc;
  color: #333;
  line-height: 1.6;
  width: 100%;

}

/* 링크 스타일 */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 공통 컨테이너 */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}


header h1 {
  font-size: 2rem;
}

/* 버튼 */
.btn {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

/* 푸터 */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  margin-top: 40px;
}
