/* 헤더 기본 */

.logo img{
    height: 60px;
}
header {
  position: relative;
  z-index: 100;
  background: #fff; /* 기본 헤더 배경 */
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  position: relative;
  z-index: 200; /* 배경보다 위에 위치 */
}

.gnb {
  display: flex;
  list-style: none;
}

.gnb > li {
  position: relative;
      width: 140px;
          text-align: center;
}

.gnb > li > a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 0;
}

/* 서브메뉴 */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  min-width: 160px;
  z-index: 250;
  top: 80px;
}

.submenu li a {
  display: block;
  color: #333;
  text-decoration: none;
}

.submenu li a:hover {
  color: green;
}

/* 내려오는 흰색 배경 박스 */
.header-bg {
  position: absolute;
  top: 100%; /* 헤더 아래부터 시작 */
  left: 0;
  width: 100%;
  height: 0; /* 처음엔 숨김 */
  background: #ffffff4e;
  z-index: 150;
  display: none;
}
